.chart-section {
    background-color: #ecf1f7;
    width: 98%;
    height: 750px;
    border-radius: 10px;
    margin: auto;
}

.chart-container {
    display: flex;
    justify-content: space-between;
}

.chart-actions {
    position: absolute;
    top: 143px;
    background-color: transparent;
    border: none;
}

.add {
    left: 94vw;
}

.remove {
    left: 96.5vw;
}

.chart-actions:hover {
    color: #69A2E0;
}