/* General CSS */

body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: #F5F8FB;
    color: #080B0E;
}

.primary-clr {
    color: #437DBC;
}

.secondary-clr {
    color: #93B8E1;
}

.accent {
    color: #69A2E0;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CSS for Navigation */

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf1f7;
    width: 98vw;
    margin: 20px auto;
    border-radius: 10px;
}

.my-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.list-item {
    margin: 10px 10px 0 0;
    padding: 0;
    font-size: 36px;

}

.nav-link {
    color: #080B0E;
    font-weight: 600;
    letter-spacing: -2px;
}

.nav-link:hover {
    color: #437DBC;
}

.nav-link.dashboard {
    margin-left: 20px;
}

.nav-button {
    padding: 0.5em 2em;
    float: right;
    font-weight: 500;
    margin-right: 10px;
    font-size: 18px;
    color: #080B0E;
    border-radius: 30px;
}

.log-out {
    background-color: transparent;
    border: none;
    padding: 0.5em 1em;
}

.transfer {
    background-color: #93B8E1;
    border: none;
    color: #ffffff;
}

.settings {
    padding: 0.5em 1em;
    border: none;
    border-radius: 90px;
    background-color: transparent;
    color: #69A2E0;

}

.btn.dropdown-toggle {
    margin: 10px 20px;
    background-color: #ecf1f7;
    border: solid 2px #080B0E;
    color: #080B0E;
}

/* CSS for Navigation on mobile devices */

@media screen and (min-width: 320px) and (max-width: 576px) {
    /* CSS for Navigation */
    .nav-button {
        font-size: 10px;
        font-weight: 400;
        margin-right: 5px;
        border-radius: 5px;
    }

    .settings {
        margin-top: 2px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    /* CSS for Navigation */
    .nav-button {
        font-size: 16px;
        border-width: 2px;
    }

    .settings {
        margin-top: 2px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .list-item {
        font-size: 24px;
    }
}