/* General CSS */

body {
    font-family: "Inika", serif;
    font-weight: 700;
    background-color: #181a20f6;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.txt-shadow {
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.67);
}

/* CSS for Navigation */

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181a20;
    width: 98vw;
    margin: 15px auto;
    border: solid 5px #ffffff;
    border-radius: 50px;
}

.my-nav {
    display: flex;
    list-style: none;
    padding: 0;
}

.list-item {
    margin: 10px 10px 0 0;
    padding: 0;
    font-size: 36px;

}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #f0b90b;
}

.nav-link.dashboard {
    margin-left: 20px;
}

.nav-button {
    float: right;
    font-weight: bold;
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 22px;
    color: #ffffff;
    border: solid 4px #ffffff;
    border-radius: 25px;
    background-color: #f0b90b;
}

.settings {
    border: none;
    border-radius: 90px;
    background-color: transparent;
    margin-top: 5px;
}

.btn.dropdown-toggle {
    margin: 10px 20px;
    background-color: #181a20;
    border: solid 2px #ffffff;
}

/* CSS for Navigation on mobile devices */

@media screen and (min-width: 320px) and (max-width: 576px) {
    /* CSS for Navigation */
    .nav-button {
        font-size: 14px;
        font-weight: 400;
        padding: 2px 10px;
        border-width: 2px;
        margin-right: 5px;
    }
    
    .settings {
        margin-top: 2px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    /* CSS for Navigation */
    .nav-button {
        font-size: 20px;
        border-width: 2px;
    }

    .settings {
        margin-top: 2px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* CSS for Navigation */
    .nav-button {
        border-width: 3px;
    }

    .settings {
        margin-top: 2px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .list-item {
        font-size: 30px;
    }
}