{% extends 'base.html' %}
{% load static %}

{% block title %}
    Trade
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'trade/css/trade.css' %}">
{% endblock %}

{% block content %}
    <div class="row small-screen">
        <h2 class="small-screen-text">Please use a device with a larger screen to access trading.</h2>
    </div>
    <div class="row big-screen">
        <div class="col-md-6 trade-sections box-shadow right">
            <h2 class="titles">Today's Trades</h2>
            <div class="table">
                <div>
                    <div class="head-row">
                        <span class="table-cell t-head">Symbol</span>
                        <span class="table-cell t-head">Quantity</span>
                        <span class="table-cell t-head">Entry</span>
                        <span class="table-cell t-head">Close</span>
                        <span class="table-cell t-head">Net P&L</span>
                    </div>
                    {% for trade in trade_historys %}
                        <div class="body-row">
                            <span class="table-cell">{{ trade.symbol }}</span>
                            <span class="table-cell">{{ trade.quantity }}</span>
                            <span class="table-cell">{{ trade.entry_price }}</span>
                            <span class="table-cell">{{ trade.close_price }}</span>
                            <span class="table-cell">{{ trade.net_pl }}</span>
                        </div>
                        <hr class="line-div">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 trade-sections box-shadow left">
            <h2 class="titles">Trade Markets</h2>
            <form action="{% url 'trade' %}" method="post" id="trade-form">
                {% csrf_token %}
                <div class="form-section">
                    <p class="account-balance" id="account-balance" data="{{ account_balance }}">Account Balance: ${{ account_balance }}</p>
                    <div class="order-type">
                        <p class="withdrawal-label order-type-text">Order Type</p>
                        <input type="radio" name="order-type" id="market" value="MARKET" checked>
                        <label class="radio-label" for="market">Market</label>
                        <input type="radio" name="order-type" id="limit" value="LIMIT">
                        <label class="radio-label" for="limit">Limit</label>
                    </div>
                    <div class="order-type">
                        <p class="withdrawal-label order-type-text">Market Side</p>
                        <input type="radio" name="side" id="buy" value="BUY">
                        <label class="radio-label" for="buy">Buy</label>
                        <input type="radio" name="side" id="sell" value="SELL">
                        <label class="radio-label" for="sell">Sell</label>
                    </div>
                    <div class="input-group">
                        <div class="input-wrapper">
                            <label for="symbol" class="withdrawal-label">Symbol</label>
                            <input type="text" class="withdraw-input" id="symbol" name="symbol" placeholder="e.g. BTCUSDT" autocomplete="off">
                        </div>
                        <div class="input-wrapper">
                            <label for="quantity" class="withdrawal-label first">Quantity</label>
                            <input type="number" class="withdraw-input amount" id="quantity" name="quantity" min="0" max="0" step="0.01" placeholder="e.g. 0.5" required>
                        </div>
                    </div>
                    <div id="limit-inputs"></div>
                    <div class="input-group">
                        <div class="input-wrapper">
                          <label for="take-profit" class="withdrawal-label">Take Profit Level</label>
                          <input type="number" class="withdraw-input" name="take-profit" min="0" max="1000000">
                        </div>
                        <div class="input-wrapper">
                          <label for="stop-loss" class="withdrawal-label">Stop Loss Level</label> 
                          <input type="number" class="withdraw-input" name="stop-loss" min="0" max="1000000">
                        </div>
                      </div>
                    <input type="submit" class="withdraw-button withdraw-input" value="Order">
                </div>
            </form>
        </div>
    </div>
    <div class="row big-screen">
        <div class="col-md-12 active-trades box-shadow">
            <h2 class="titles">Open Positions</h2>
            <div class="table" id="open-trades" data="{{ open_trades }}">
                <div>
                    <div class="head-row">
                        <span class="table-cell t-head">Time</span>
                        <span class="table-cell t-head">Symbol</span>
                        <span class="table-cell t-head">Side</span>
                        <span class="table-cell t-head">Quantity</span>
                        <span class="table-cell t-head">Entry</span>
                        <span class="table-cell t-head">Take Profit</span>
                        <span class="table-cell t-head">Stop Loss</span>
                        <span class="table-cell t-head">Net P&L</span>
                        <span class="table-cell t-head last">Close Position</span>
                    </div>
                </div>
                <div>
                    {% for trade in open_trades %}
                        <div class="body-row">
                            <span class="table-cell">{{ trade.time }}</span>
                            <span class="table-cell">{{ trade.symbol }}</span>
                            <span class="table-cell">{{ trade.side }}</span>
                            <span class="table-cell">{{ trade.quantity }}</span>
                            <span class="table-cell">{{ trade.entry }}</span>
                            <span class="table-cell">{{ trade.take_profit }}</span>
                            <span class="table-cell">{{ trade.stop_loss }}</span>
                            <span class="table-cell" id="{{ trade.id }}">0</span>
                            <span class="table-cell">
                                <form action="{% url 'close_position' %}" method="post" id="form_{{ trade.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="close_position" value="{{ trade.id }}">
                                    <button type="submit" class="cancel"><i class="fas fa-xmark"></i></button>
                                </form>
                            </span>
                        </div>
                        <hr class="line-div">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'trade/js/quantity-validation.js' %}"></script>
    <script src="{% static 'trade/js/sell-trade-validation.js' %}"></script>
    <script src="{% static 'trade/js/data-stream.js' %}"></script>
    <script src="{% static 'trade/js/trade.js' %}"></script>
{% endblock %}