<nav class="nav-menu box-shadow">
    <div class="col-md-6">
        <ul class="my-nav">
            <li class="list-item"><a href="#" class="nav-link dashboard ">Dashboard</a></li>
            <li class="list-item"><a href="#" class="nav-link">Markets</a></li>
            <li class="list-item"><a href="#" class="nav-link">Chart</a></li>
            <li class="list-item"><a href="#" class="nav-link">Trade</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-light nav-button settings" href="#"><i class="fas fa-gear"></i></button>
        <button type="button" class="btn btn-light nav-button sign-up" href="#">Sign Up</button>
        <button type="button" class="btn btn-light nav-button log-in" href="#">Log In</button>
    </div>
</nav>