<nav class="nav-menu box-shadow">
    <div class="col-md-6">
        <ul class="my-nav">
            <li class="list-item"><a href="#" class="nav-link txt-shadow dashboard ">Dashboard</a></li>
            <li class="list-item"><a href="#" class="nav-link txt-shadow">Markets</a></li>
            <li class="list-item"><a href="#" class="nav-link txt-shadow">Chart</a></li>
            <li class="list-item"><a href="#" class="nav-link txt-shadow">Trade</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-light nav-button settings" href="#"><i class="fas fa-gear"></i></button>
        <button type="button" class="btn btn-light nav-button box-shadow" href="#">Log In</button>
        <button type="button" class="btn btn-light nav-button box-shadow" href="#">Register</button>
    </div>
</nav>