<nav class="nav-menu box-shadow">
    <div class="col-md-6">
        <ul class="my-nav">
            <li class="list-item"><a href="{% url 'dashboard' %}" class="nav-link dashboard ">Dashboard</a></li>
            <li class="list-item"><a href="{% url 'markets' %}" class="nav-link">Markets</a></li>
            <li class="list-item"><a href="#" class="nav-link">Chart</a></li>
            <li class="list-item"><a href="#" class="nav-link">Trade</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <a  href="{% url 'settings' %}" class="btn btn-light nav-button settings"><i class="fas fa-gear"></i></button>
        <a  href="{% url 'transfer' %}" class="btn btn-light nav-button transfer">Transfer</a>
        <a  href="{% url 'account_logout' %}" class="btn btn-light nav-button log-out">Log Out</a>
    </div>
</nav>