<nav class="nav-menu box-shadow">
    <div class="col-md-6">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active" href="{% url 'dashboard' %}">Dashboard</a></li>
              <li><a class="dropdown-item" href="{% url 'markets' %}">Markets</a></li>
              <li><a class="dropdown-item" href="{% url 'chart' %}">Chart</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Trade</a></li>
            </ul>
          </div>
    </div>
    <div class="col-md-6">
        <a  href="{% url 'settings' %}" class="btn btn-light nav-button settings"><i class="fas fa-gear"></i></button>
        <a  href="{% url 'transfer' %}" class="btn btn-light nav-button transfer">Transfer</a>
        <a  href="{% url 'account_logout' %}" class="btn btn-light nav-button log-out">Log Out</a>
    </div>
</nav>