<nav class="nav-menu">
    <div class="col-md-6">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active" href="#">Dashboard</a></li>
              <li><a class="dropdown-item" href="#">Markets</a></li>
              <li><a class="dropdown-item" href="#">Chart</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Trade</a></li>
            </ul>
          </div>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-light nav-button settings" href="#"><i class="fas fa-gear"></i></button>
        <button type="button" class="btn btn-light nav-button" href="#">Log In</button>
        <button type="button" class="btn btn-light nav-button" href="#">Register</button>
    </div>
</nav>