.sections {
    background-color: #ecf1f7;
    width: 98%;
    height: 750px;
    border-radius: 10px;
    margin: auto;
}

.search-bar {
    width: 400px;
    height: 35px;
    position: absolute;
    left: calc(50vw - 200px);
    top: 170px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    padding-left: 10px;
    color: #080b0e;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.search-bar::placeholder {
    color: #080b0e85;
}

.search-bar:focus {
    /* border: solid 2px #93b8e1; */
    outline: none;
}

.search-button {
    border-radius: 10px;
    height: 35px;
    width: 60px;
    background-color: #93b8e1;
    position: absolute;
    top: 170px;
    left: calc(50vw + 140px);
    border: none;
    color: #ffffff;
    font-weight: 500;
}

.search-button:hover {
    color: #437DBC;
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.233);
}

.search-dropdown {
    list-style: none;
    position: absolute;
    left: calc(50vw - 200px);
    top: 210px;
    width: 400px;
    padding: 0;
    background-color: #f5f8fbd3;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.crypto-option {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.crypto-links:hover {
    color: #437DBC;
}

.crypto-links {
    width: 100%;
    text-decoration: none;
    color: #080b0e;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.market-button {
    position: absolute;
    top: 163px;
    background-color: transparent;
    border-radius: 30px;
    color: #93b8e1;
    border: none;
    font-size: 30px;
    height: 50px;
    width: 50px;
}

.favourite {
    left: 95.5vw;
}

.chart {
    left: 93vw;
}

.market-button:hover {
    color: #437DBC;
    background-color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .search-bar {
        left: calc(50vw - 100px);
        top: 120px;
        width: 200px;
        height: 35px;
        font-size: 14px;
    }

    .search-dropdown {
        left: calc(50vw - 100px);
        top: 160px;
        width: 200px;
    }

    .search-button {
        left: calc(50vw + 60px);
        top: 120px;
        width: 40px;
        font-size: 14px;
    }
    
    .favourite {
        left: 80vw;
        top: 190px;
    }

    .tradingview-widget-container {
        margin-top: 80px;
    }

    .sections {
        padding-bottom: 80px;
    }

    .crypto-links {
        font-size: 14px;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    .search-bar {
        left: calc(50vw - 200px);
        top: 120px;
    }

    .search-dropdown {
        left: calc(50vw - 200px);
        top: 160px;
    }

    .search-button {
        left: calc(50vw + 140px);
        top: 120px;
    }
    
    .favourite {
        left: 88vw;
        top: 200px;
    }

    .tradingview-widget-container {
        margin-top: 80px;
    }

    .sections {
        padding-bottom: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .search-bar {
        left: calc(50vw - 200px);
        top: 120px;
    }

    .search-dropdown {
        left: calc(50vw - 200px);
        top: 160px;
    }

    .search-button {
        left: calc(50vw + 140px);
        top: 120px;
    }
    
    .favourite {
        left: 90vw;
        top: 200px;
    }

    .tradingview-widget-container {
        margin-top: 80px;
    }

    .sections {
        padding-bottom: 80px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .search-bar {
        left: calc(50vw - 50px);
        top: 140px;
    }

    .search-dropdown {
        left: calc(50vw - 50px);
        top: 180px;
    }

    .search-button {
        left: calc(50vw + 290px);
        top: 140px;
    }
    
    .favourite {
        left: 92vw;
        top: 135px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .search-bar {
        left: calc(50vw - 50px);
    }

    .search-dropdown {
        left: calc(50vw - 50px);
    }

    .search-button {
        left: calc(50vw + 290px);
    }
    
    .favourite {
        left: 94vw;
    }
}