{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dahsboard
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="my-container">
        <div class="trapezium drp-shadow">
            <h4 class="balance">Account Balance:</h4>
            <h2 class="sum">${{ account_balance }}</h2>
        </div>
        <div class="col-md-6 centre">
            <div class="sections box-shadow account-history">
                <h1 class="title centre">Account History</h1>
                <div class="chart">
                    <canvas id="account-history-chart" my-data="{{ account_history }}"></canvas>
                </div>
                <div class="date-row centre">
                    <p id="day" class="date-buttons">Day</p>
                    <p id="month" class="date-buttons">Month</p>
                    <p id="year" class="date-buttons">Year</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 centre">
            <div class="sections box-shadow fav-tickers" data="{{ fav_tickers }}">
                <h1 class="title centre">Favourited Tickers</h1>
                {% for ticker in fav_tickers %}
                    <hr class="divider">
                    <div class="row">
                        <div class="col-md-4 centre">
                            <h3 class="name" id="{{ ticker }}">{{ ticker }}</h3>
                        </div>
                        <div class="col-md-8 centre-gap">
                            <p class="value" id="{{ ticker }}USDT_value">N/A</p>
                            <p class="percentage" id="{{ ticker }}USDT_percentage">N/A</p>
                            <a href="#" class="cancel"><i class="fas fa-xmark"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'dashboard/js/account-history-chart.js' %}"></script>
    <script src="{% static 'dashboard/js/binance-market-data.js' %}"></script>
{% endblock %}