{% extends 'base.html' %}
{% load static %}

{% block title %}
    Successful Transfer
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="my-container">
        <div class="transfer-display">
            <h1 class="transaction-title">Your Transaction was Succesful!</h1>
            <p class="transaction-message">You will be redirected shortly to the dashboard page.</p>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'dashboard/js/return.js' %}"></script>
{% endblock %}