{% extends 'base.html' %}
{% load static %}

{% block title %}
    Transfer
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="my-container">
    <div class="transfer-display">
        <div id="checkout" class="box-shadow"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'dashboard/js/stripe_payments.js' %}"></script>
    <script src="{% static 'dashboard/js/return.js' %}"></script>
{% endblock %}