/* CSS For Dahboard Page */

.my-container {
    position: relative;
}

.sections {
    background-color: #191922;
    width: 48%;
    height: 750px;
    border-radius: 10px;
    margin-top: 750px;
}

.account-history {
    position: absolute;
    left:calc(0vw + 25px); /* 50vw minus half of the width of the element minus the desired gap */
}

.fav-tickers {
    position: absolute;
    left: calc(50vw + 15px); /* 50vw plus half of the width of the element plus the desired gap */
}

.sum {
    text-align: center;
    font-size: 26px;
}

.balance {
    margin: 10px auto 0 auto;
    font-size: 14px;
    font-weight: bold;
}

.trapezium {
    position: absolute;
    left: calc(50vw - 75px);
    z-index:2;
    width:150px;
    height:60px;
    margin:0px auto;
    text-transform:uppercase;
    text-align:center;
    background-color: #494061;
    
}
 
.trapezium:before, .trapezium:after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    bottom:0;
    z-index:-2;
    border-radius: 10px;
    background-color: #494061;
}
 
.trapezium:before {
    transform:skew(-40deg);
    left:40px;
}
 
.trapezium:after {
    transform:skew(40deg);
    right:40px;
    left:auto;
}

.title {
    margin: 20px 0 30px 0;
    font-weight: 600;
}

.name {
    font-size: 26px;
    margin: 15px 0;
    font-weight: 600;
}

.value {
    font-size: 22px;
    margin: auto 0;
    font-weight: 400;
}

.percentage {
    padding: 5px 20px;
    background-color: #a8b7c6;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    margin: auto 0;
    font-weight: 400;
}

.cancel {
    margin: auto 100px auto 0;
    color: #494061;
}

.cancel:hover {
    color: #ffffff;
}

.centre-gap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.divider {
    width: 80%;
    margin: 8px auto;
    background-color: #494061;
}

#account-history-chart {
    width: 90%;
    height: 800px;
}