/* CSS For Dahboard Page */

.my-container {
    position: relative;
}

.sections {
    background-color: #ecf1f7;
    width: 48%;
    height: 750px;
    border-radius: 10px;
    margin-top: 750px;
}

.account-history {
    position: absolute;
    left:calc(0vw + 25px); /* 50vw minus half of the width of the element minus the desired gap */
}

.fav-tickers {
    position: absolute;
    left: calc(50vw + 15px); /* 50vw plus half of the width of the element plus the desired gap */
}

.sum {
    text-align: center;
    font-size: 26px;
    color: #ecf1f7;
}

.balance {
    margin: 10px auto 0 auto;
    font-size: 14px;
    font-weight: bold;
    color: #ecf1f7;
}

.trapezium {
    position: absolute;
    left: calc(50vw - 75px);
    z-index:2;
    width:150px;
    height:60px;
    margin:0px auto;
    text-transform:uppercase;
    text-align:center;
    background-color: #437DBC;
    
}
 
.trapezium:before, .trapezium:after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    bottom:0;
    z-index:-2;
    border-radius: 10px;
    background-color: #437DBC;
}
 
.trapezium:before {
    transform:skew(-40deg);
    left:40px;
}
 
.trapezium:after {
    transform:skew(40deg);
    right:40px;
    left:auto;
}

.drp-shadow {
    filter: drop-shadow(0px 5px 10px #00000041);
}

.title {
    margin: 20px 0 30px 0;
    font-weight: 600;
    letter-spacing: -1px;
}

.name {
    font-size: 26px;
    margin: 15px 0;
    font-weight: 600;
}

.value {
    font-size: 22px;
    margin: auto 0;
    font-weight: 400;
}

.percentage {
    padding: 5px 20px;
    background-color: #69A2E0;
    color: #ffffff;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    margin: auto 0;
    font-weight: 400;
}

.cancel {
    margin: auto 100px auto 0;
    color: #69A2E0;
}

.cancel:hover {
    color: #ffffff;
}

.centre-gap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.divider {
    width: 80%;
    margin: 8px auto;
    background-color: #437dbc3b;
}

.date-row {
    gap: 40px;
}

.date-buttons {
    padding: 0.5em 2em;
    background-color: #93B8E1;
    color: #ecf1f7;
    text-decoration: none;
    border-radius: 30px;
}

.date-buttons:hover {
    background-color: #ecf1f7;
    color: #437DBC;
}

#account-history-chart {
    margin: 80px 0 50px 0;
}

.chart {
    width: 90%;
    margin: auto;
}

/* CSS for the settings page */

.display {
    width: 100%;
    height: 750px;
    background-color: #ecf1f7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}